@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: newyork;
  src: url(../font/NewYork\ PERSONAL\ USE.otf);
}
a {
  text-decoration: none;
  cursor: none;
}
li{
  list-style: none;
}
html {
  --color-texta: #1d1d1d;
  --color-textb: #fff;
}

::selection {
  background-color: #000;
}

body {
  font-family: "Pretendard-Regular";
  font-size: 14px;
  line-height: 24px;
  overflow-x: hidden;
  cursor: none;
  background-color: #222222;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  transition: transform 0.5s ease-out, width 0.5s ease-out, height 0.5s ease-out;
}

.cursor-grow {
  transform: translate(-50%, -50%) scale(2);
  transition: transform 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out;
}
.gnb li a {
  color: #fff; /* 기본 텍스트 색상 */
  transition: color 0.3s ease;
}

#wrap {
  width: 100%;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  max-width: 1800px;
  margin:0 auto;
}

/*진행바*/
.parallax__progress progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  appearance: none;
  width: 100%;
  height: 5px;
  border: none;
  background: transparent;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  background-color: #fff;
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background-color: #fff;
  background-attachment: fixed;
}

/*헤더*/

.header {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 3%;
  z-index: 1000;
}

.header_inner {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: 24px;
}

.logo a {
  color: #fff;
  font-weight: bold;
}

.gnb a{
  color:#fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  position: relative;
}

.gnb a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 250ms ease-in-out, left 250ms ease-in-out;
}

.gnb a:hover::after {
  width: 100%;
  left: 0;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
  .main-container {
    padding: 0 2%;
  }
  .aside{
    max-width: 1000px;
  }
  .header{
      max-width: 1190px;
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .contact p{
    left: 3%;
  }
}

@media all and (max-width: 479px) {
  .reserved{
    display:none;
  }
}

/*메인비주얼 텍스트*/

.main-visual {
  width: 100%;
  height: 100vh;
}

#main_txt {
  flex-direction: column;
}

/* video */
.main-visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.bg-video_content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.txt01 {
  font-size: 7vw;
  font-weight: normal;
  color: #fff;
  font-family: "newyork";
}

.txt02 {
  font-size: 5.2vw;
  font-weight: 500;
  color: #fff;
  font-family: "newyork";
}

/*서브 텍스트*/

/* .sub-txt-cont {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sub-txt {
  text-align: center;
  color: #fff;
  line-height: 1.8em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3rem;
} */


#section01 .parallax__item__text {
            font-size: 4vw;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 30px;
            width: 100%;
            text-align: center;
            color:#fff;
        }

/* section02 */

#parallax__cont {
  overscroll-behavior: none;
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.parallax_item, .parallax__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax__item__num {
  font-size: 7rem;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 20px;
  font-family: "Lato";
  font-weight: 100;
  z-index: 100;
}

@media all and (max-width: 479px) {
  .parallax__item__num{
    font-size:4rem;
  }
}

.parallax__item__imgWrap {
  width: 35%;
  padding-bottom: 23%;
  position: relative;
  overflow: hidden;
}
.parallax__item__img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(0%);
  transition: all 1s;
}
.parallax__item__img:hover {
  filter: saturate(100%);
  transform: scale(1.025);
}

#section1 .parallax__item__img {
  background-image: url(../image/arbe_page.jpg);
}
#section2 .parallax__item__img {
  background-image: url(../image/dental_note.jpg);
}
#section3 .parallax__item__img {
  background-image: url(../image/content.jpg);
}
#section4 .parallax__item__img {
  background-image: url(../image/printed.jpg);
}


@media all and (min-width:1024px) and (max-width:1279px) { 
.parallax__item__imgWrap {
    width: 45%;
    padding-bottom: 40%;
} 
}
@media (max-width: 768px) {
.parallax__item__imgWrap{
  width:50%;
  padding-bottom:50%;
}
}


/*사이드*/
.contact p {
  position: fixed;
  left: 2rem;
  top: 50%;
  right: auto;
  bottom: auto;
  margin-right: 50px;
  margin-bottom: 80px;
  transform: translate(0px, -50%) rotate(-90deg);
  font-family: "PT Serif", serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

.aside {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 3%;
  font-family: "Pretendard-Regular";
  position: fixed;
  bottom: 15px;
  font-size: clamp(14px, 2vh, 20px);
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.aside ul {
  display: flex;
  gap: 20px; /* li 간격 조정 */
  padding: 0;
  margin: 0;
  list-style: none;
}

.aside span {
  text-decoration: underline;
}

/* visual */

@keyframes textLoop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.visual {
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin: 150px 0 100px 0;
}

.visual.left {
  justify-content: flex-start;
}

.visual.right {
  justify-content: flex-end;
}

.visual__loop {
  display: flex;
  align-items: center;
  animation: textLoop 20s linear infinite;
  mix-blend-mode: difference;
  width: max-content; /* 텍스트 길이에 맞게 박스 크기 설정 */
}

.visual__loop span {
  font-family: "Pretendard-Regular";
  color: #fff;
  font-size: 1.5rem;
  white-space: nowrap;
  margin-right: 50px;
}

/* skill */

#section03{
  margin-top:8rem;
}
.name {
  color: #fff;
}

.skill_wrap {
  position: relative;
  color: #fff;
}

.skill_wrap .group-bottom a {
  display: block;
}

.hover-image {
  position: absolute;
  width: 150px; /* 이미지 크기 */
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  pointer-events: none; /* 마우스 이벤트 방지 */
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

@media (max-width: 768px) {
    .skill_wrap .group-bottom a {
    pointer-events: none;
    }
}

.skill_wrap .group-bottom .skill-list .skill-item {
  padding: 1rem 3rem;
  overflow: hidden;
  border-bottom: 1px solid #fff;
  width: 100%;
}

.border-top{
  border-top: 1px solid #fff;
  width:100%;
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item:first-child {
    border-top: 1px solid #fff;
  }
}

.skill_wrap .group-bottom .skill-list .skill-item.mobile {
  display: none;
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item.mobile {
    display: block;
  }
}

.skill_wrap .group-bottom .skill-list .skill-item .name-wrap {
  position: relative;
  display: flex;
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item .name-wrap {
    justify-content: center;
  }
}



.skill_wrap .group-bottom .skill-list .skill-item .number {
  font-family: "DegularDisplay", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.04em;
  padding: 0.75rem;
  color: #fff;
}

@media (max-width: 1024px) {
  .skill_wrap .group-bottom .skill-list .skill-item .number {
    font-size: 0.875rem;
    line-height: 1.28;
  }
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item .number {
    padding: 0;
  }
}

.skill_wrap .group-bottom .skill-list .skill-item .name2,
.skill_wrap .group-bottom .skill-list .skill-item .name {
  font-family: "Boogy Brut Poster", serif;
  padding-right: 80px;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: 0.04em;
  overflow: hidden;
}

@media (max-width: 1440px) {
  #section03 .name{
    font-size:4rem;
  }

  #section03 .name2{
    font-size:4rem;
  }
  #footer p{
    font-size:6rem;
  }
}

@media (max-width: 1279px) {
.parallax__item__num{
  font-size:5rem;
}
}

@media (max-width: 1024px) {
  .skill_wrap .group-bottom .skill-list .skill-item .name2,
  .skill_wrap .group-bottom .skill-list .skill-item .name {
    font-size: 2.5rem;
    line-height: 1.05;
  }
  #section03 .name{
    font-size:2.5rem;
  }
  #section03 .name2{
    font-size:2.5rem;
  }
}

@media (max-width: 768px) {
  .skill_wrap .group-bottom .skill-list .skill-item .name2,
  .skill_wrap .group-bottom .skill-list .skill-item .name {
    font-size: 2rem;
    line-height: 1.125;
  }

.name2 span,
  .name span {
    display: block;
  }

  #footer p{
    font-size:4rem;
  }
    .skill_wrap .group-bottom .skill-list .skill-item .name {
    text-align: center;
  }
}

@media (max-width: 479px) {
  #footer p{
    font-size:2rem;
  }
}

.skill_wrap .group-bottom .skill-list .skill-item .name2 {
  position: absolute;
  top: 10%;
  right: 5%;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}


/* 푸터 */

#footer {
  font-family: "newyork";
  font-size: 8rem;
  text-align: center;
  color: #fff;
  padding: 8rem;
}

@media (max-width: 1024px) {
#footer{
  font-size: 6rem;
  padding:6rem;
}
.visual {
  margin:100px 0 100px 0;
}
}

@media (max-width: 768px) {
#footer{
  font-size:4rem;
  padding:4rem;
}

.visual {
  margin:50px 0 50px 0;
}
}

@media (max-width: 479px){
  #footer{      
  font-size: 3rem;
      }
    }

/* 서브01 */
/*gird*/

#grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20rem;
}

.grid_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}
@media (max-width: 1024px) {
  .grid_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid{
    margin-top:11rem;
  }
}

@media (max-width: 768px) {
  .grid_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid_list {
  position: relative;
  overflow: hidden;
}

.grid_img {
  transition: transform 0.5s ease-in-out;
}

.grid_img img {
  width: 100%;
  height: 100%;
  max-height: 580px;
  object-fit: cover;
  object-position: center;
}

.grid_list:hover .grid_img {
  transform: scale(1.05);
}

.grid_txt {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.grid_list:hover .grid_txt {
  opacity: 1;
}

.grid_txt p {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}

.grid_txt h4{
  margin-left:10px;
}
